{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="flex flex-col items-center">
    <h1 class="font-bold mb-20 lg:mb-10 text-9xl lg:text-5xl">Register</h1>
    <form action="/auth/register" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-20 lg:mb-5 py-8 lg:py-4 px-8 lg:px-4 text-6xl lg:text-3xl" name="email" placeholder="Email" type="text"><br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto mb-20 lg:mb-5 py-8 lg:py-4 px-8 lg:px-4 text-6xl lg:text-3xl" name="username" placeholder="Username" type="text"><br>
        <input class="form-control mx-auto w-auto mb-20 lg:mb-5 py-8 lg:py-4 px-8 lg:px-4 text-6xl lg:text-3xl" name="password" placeholder="Password" type="password"><br>
        <input class="form-control mx-auto w-auto mb-20 lg:mb-5 py-8 lg:py-4 px-8 lg:px-4 text-6xl lg:text-3xl" name="confirmation" placeholder="Confirm Password" type="password"><br>
        <button class="btn bg-primary btn-primary rounded-lg w-full mb-20 lg:mb-5 pt-8 pb-32 lg:pb-16 text-8xl lg:text-3xl" type="submit">Register</button>
    </form>
</div>
{% endblock %}
