{% extends "base.html" %}
{% block title %}Text Generation{% endblock %}


{% block content %}
<div class="flex justify-center w-full px-4">
    <div class="text-center w-full lg:grid lg:grid-cols-2 lg:gap-4 items-center">
        <div class="lg:col-span-1">
            <h1 class="flex items-center justify-center text-9xl font-bold mb-20 lg:text-5xl lg:mb-2">Text Gen SD3 <button class="btn btn-lg btn-circle btn-outline tooltip tooltip-primary tooltip-left ml-2 text-5xl lg:tooltip-right lg:text-base lg:btn-sm" 
                data-tip="Use very descriptive text. Use set style at beggining of prompt. Can include text in image but use quotes ''. Use ChatGPT or LLM to write out description. It may take a while to generate.
                ">
                ?</button></h1>
            <textarea class="form-control border-2 w-full mb-20 py-8 px-8 text-6xl lg:mx-auto lg:w-auto lg:h-auto lg:mb-5 lg:py-4 lg:px-4 lg:text-3xl" rows="4" cols="50" value="" placeholder="Ex: a bottle with a pink and red galaxy inside it on top of a wooden table on a table in the middle of a modern kitchen" id="prompt"></textarea>
        </div>
        <div class="lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:flex lg:justify-center">
            <img class="mb-20 h-full w-full lg:max-h-screen lg:w-auto lg:mb-5" src="" title="Text Generated Image" id="maingen" />
        </div>
    </div>
</div>
<script src="{{ url_for('txt_gen.static', filename='js/app.js') }}"></script>
{% endblock %}