{% extends "base.html" %}
{% block title %}Profile{% endblock %}


{% block content %}
<div class="flex flex-col items-center">
    <h1 class="font-bold text-9xl mb-20 lg:text-5xl lg:mb-10">Profile</h1>
    <ul class="flex flex-col items-center">
        <p class="text-6xl lg:text-xl mb-20 lg:mb-5">Id: <strong>{{ current_user.id }}</strong></p>
        <p class="text-6xl lg:text-xl mb-20 lg:mb-5">Username: <strong>{{ current_user.username }}</strong></p>
        <p class="text-6xl lg:text-xl mb-20 lg:mb-5">Email: <strong>{{ current_user.email }}</strong></p>
        <button class="btn bg-primary btn-primary rounded-lg w-full pt-8 pb-32 lg:pb-16 mb-20 lg:mb-5 text-8xl lg:text-4xl" onclick="window.location.href='/profile/update'" type="button">Change Password</button>
        <button class="btn bg-error btn-error rounded-lg w-full pt-8 pb-32 lg:pb-16 mb-20 lg:mb-5 text-8xl lg:text-4xl" onclick="window.location.href='/profile/delete'" type="button">Delete Account</button>
        <button class="btn bg-gray-500 btn-gray-600 rounded-lg w-full pt-5 pb-32 lg:pb-16 mb-20 lg:mb-5 text-8xl lg:text-4xl" onclick="window.location.href='/auth/logout'" type="button">Logout</button>
    </ul>
</div>
{% endblock %}
