{% extends "base.html" %}
{% block title %}Output{% endblock %}


{% block content %}
<article class="prose lg:prose">
    <h1>Output</h1>
    <div class= "bg-base-300">
        <h2>Filter:</h2>
        <div tabindex="0" class="collapse bg-base-200"> 
            <div class="collapse-title text-xl font-medium">
              Workflows
            </div>
            <div class="collapse-content"> 
                <ul>
                    <li><a href="{{ url_for('output.filter_by_worflows', blueprint_id=1) }}">Text Generation</a></li>
                    <li><a href="{{ url_for('output.filter_by_worflows', blueprint_id=2) }}">Fantasy Character Creator</a></li>
                </ul>
            </div>
          </div>
          <br>
        <a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a>
    </div>

<br><br>
</article>

<div class="grid grid-cols-4 gap-4">
    {% set ns = namespace(counter=0) %}
    {% for generation in generations %}
        <div > <!-- Set flex properties and maximum width -->
            <img class="h-auto max-w-full rounded-lg" src="{{ generation.path }}" alt="">
        </div>
    {% endfor %}
</div>

<!-- <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {% set ns = namespace(counter=0) %}
    {% for generation in generations %}
        {% if ns.counter % 3 == 0 %}
            <div class="grid gap-4">
        {% endif %}
        <div >
            <img class="h-auto max-w-full rounded-lg" src="{{ generation.path }}" alt="">
        </div>
        {% if ns.counter % 3 == 2 or loop.last %}
            </div>
        {% endif %}
        {% set ns.counter = ns.counter + 1 %}
    {% endfor %}
</div> -->


{% endblock %}