{% extends "base.html" %}
{% block title %}Output{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="text-center lg:hidden">
        <h1 class="text-9xl font-bold mb-20">Output</h1>
            <div tabindex="0" class="collapse collapse-plus bg-base-300 pt-20 pr-20 mb-20"> 
                <div class="collapse-title text-8xl font-bold pl-20 mb-20">Filter</div>
                <div class="collapse-content ml-20"> 
                    <ul>
                        <li class="bg-primary btn-primary mb-20 py-8 px-8 rounded-lg text-8xl w-full"><a href="{{ url_for('output.sort_by_newest') }}">All</a><div class ="divider text-4xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="bg-primary btn-primary mb-20 py-8 px-8 rounded-lg text-8xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=1) }}">Text Generation</a><div class ="divider text-4xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="bg-primary btn-primary mb-20 py-8 px-8 rounded-lg text-8xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=2) }}">Fantasy Character Creator</a><div class ="divider text-4xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="bg-primary btn-primary mb-20 py-8 px-8 rounded-lg text-8xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=3) }}">Dress U Up</a><div class ="divider text-4xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                    </ul>
                </div>
            </div>
        <div class="grid grid-cols-2 gap-4">
            {% set ns = namespace(counter=0) %}
            {% for generation in generations %}
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="{{ generation.path }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="flex justify-center">
    <div class="hidden lg:flex flex-col items-center">
        <h1 class="text-5xl font-bold mb-10 text-center">Output</h1>
            <div tabindex="0" class="collapse collapse-plus bg-base-300 mb-10 px-5 w-1/4"> 
                <div class="collapse-title text-4xl font-bold">Filter</div>
                <div class="collapse-content"> 
                    <ul>
                        <li class="text-center bg-primary btn-primary my-5 py-2 rounded-lg text-4xl w-full"><a href="{{ url_for('output.sort_by_newest') }}">All</a><div class ="divider text-xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="text-center bg-primary btn-primary my-5 py-2 rounded-lg text-4xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=1) }}">Text Generation</a><div class ="divider text-xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="text-center bg-primary btn-primary my-5 py-2 rounded-lg text-4xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=2) }}">Fantasy Character Creator</a><div class ="divider text-xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                        <li class="text-center bg-primary btn-primary my-5 py-2 rounded-lg text-4xl w-full"><a href="{{ url_for('output.filter_by_worflows', blueprint_id=3) }}">Dress U Up</a><div class ="divider text-xl"><a href="{{ url_for('output.sort_by_newest') }}">Sort by Newest</a> | <a href="{{ url_for('output.sort_by_oldest') }}">Sort by Oldest</a></div></li>
                    </ul>
                </div>
            </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
            {% set ns = namespace(counter=0) %}
            {% for generation in generations %}
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="{{ generation.path }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}