{% extends "base.html" %}
{% block title %}Output{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="flex flex-col items-center w-full">
        <h1 class="text-8xl lg:text-5xl font-bold mb-20 lg:mb-10 text-center">Output</h1>
        <form action="{{ url_for('output.filter_generations') }}" method="GET" class="w-full lg:w-1/2">
            <div class="collapse collapse-plus bg-base-300 mb-20 lg:mb-5 py-10 lg:py-0 px-10 lg:px-5"> <!-- Adjusted width -->
                <!-- Input element for collapse control -->
                <input type="checkbox" class="peer" />
                <div class="collapse-title text-6xl lg:text-4xl font-bold peer-checked:collapse-open">
                    Filter
                </div>
                <div class="collapse-content flex flex-wrap items-center justify-center lg:justify-start "> <!-- Flexbox for alignment -->
                    <!-- Blueprint Filter Dropdown -->
                    <div class="my-3 lg:my-0 lg:mb-3 lg:mr-3 w-full lg:w-auto">
                        <select id="blueprintFilter" name="blueprint" class="select mb-3 w-full text-4xl lg:text-base lg:w-auto lg:mb-0"> <!-- Added margin -->
                            <option selected disabled>Blueprint</option>
                            <option value="0">All</option>
                            <option value="1">Text Generation</option>
                            <option value="2">Fantasy Character Creator</option>
                            <option value="3">Dress U Up</option>
                        </select>    
                    </div>

                    <!-- Sort By Dropdown -->
                    <div class="mb-3 lg:mr-3 w-full lg:w-auto">
                        <select id="sortByFilter" name="sort" class="select mb-3 w-full text-4xl lg:text-base lg:w-auto lg:mb-0"> <!-- Added margin -->
                            <option selected disabled>Sort By</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                        </select>    
                    </div>
                    
                    <!-- Limit Dropdown -->
                    <div class="mb-3 lg:mr-3 w-full lg:w-auto">
                        <select id="limitFilter" name="limit" class="select mb-3 w-full text-4xl lg:text-base lg:w-auto lg:mb-0"> <!-- Added margin -->
                            <option selected disabled>Limit</option>
                            <option value="0">All</option>
                            <option value="8">8</option>
                            <option value="16">16</option>
                            <option value="40">40</option>
                        </select>
                    </div>
                    <!-- Filter Button -->
                    <button type="submit" class="btn bg-primary btn-primary rounded-lg w-full pb-16 pt-5 text-4xl">Apply Filters</button> <!-- Added margin top and left margin for alignment -->
                </div>
            </div>
        </form>

        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
            {% set ns = namespace(counter=0) %}
            {% for generation in generations %}
                <div>
                    <img class="h-auto max-w-full rounded-lg" src="{{ generation.path }}" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- <script src="{{ url_for('output.static', filename='js/app.js') }}"></script> -->
{% endblock %}