{% extends "base.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<div class="flex justify-center">    
    <div class="text-center lg:hidden">
        <h1 class="text-9xl font-bold mb-20">Home</h1>
        <p class="text-4xl mb-20">Welcome to Comfy Image Workshop</p>
    </div>
    <div class="hidden lg:flex flex-col items-center">
        <h1 class="text-5xl font-bold mb-10">Home</h1>
        <p class="text-4xl mb-10">Welcome to Comfy Image Workshop</p>
    </div>
</div>
{% endblock %}