{% extends "base.html" %}
{% block title %}Dress U Up{% endblock %}


{% block content %}
<div class="flex justify-center">
  <div id="toast-container"></div>
  <div class="relative rounded-xl overflow-auto p-8">
    <h1 class="mb-20 text-9xl font-bold lg:mb-10 lg:text-5xl">Dress U Up
      <div class="align-top tooltip tooltip-primary tooltip-bottom lg:tooltip-right " data-tip="This is a workflow that lets you upload a picture of a person and dress them up with their likeness. If you are the server admin and there are errors go to the help page.">
        <button class="align-middle btn btn-sm btn-circle btn-outline">?</button>
      </div>
    </h1>
      <div class="text-5xl lg:grid lg:grid-cols-3 lg:gap-4 lg:text-xl">   
          <!-- LEFT BAR -->
          <div class="grid grid-cols-1 gap-4">
              <div class="join join-vertical w-full">
                <!-- GENERATION PARAMETERS -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" checked="checked" /> 
                  <div class="collapse-title font-bold">
                    Generation Parameters
                  </div>
                  <div class="collapse-content"> 
                    <div class="my-10 lg:my-0 lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="mb-20 lg:mb-0">
                        <label class="form-label" for="quality-input">Quality</label>
                        <input class="range range-primary" id="quality-input" type="range" value="1" min="0.0" max="1.0" step="0.25" aria-label="Range">
                        <div class="form-label text-muted">
                          <div class="grid grid-cols-2">
                            <div class="text-left"><span>< Speed</span></div>
                            <div class="text-right"><span>Accuracy ></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-20 lg:mb-0">
                        <label class="form-label" for="batch-size-input">Results per generation</label>
                        <input class="range range-primary" id="batch-size-input" type="range" value="1" min="1" max="4" step="1" aria-label="Range" list="batch-size-values">
                        <div class="w-full flex justify-between px-2" id="batch-size-values">
                          <span value="0" label="1">1</span>
                          <span value="33" label="2">2</span>
                          <span value="66" label="3">3</span>
                          <span value="100" label="4">4</span>
                        </div>
                      </div>
                      <div class="mb-20 lg:mb-0">
                        <label class="form-label" for="main-seed">Seed</label>
                        <input id="main-seed" class="input input-bordered w-full mx-[3px] text-4xl lg:text-base" type="text" placeholder="Seed" aria-label="Seed" value="0">
                      </div>
                      <div class="">
                        <label>Random Seed<input id="is-random" class="checkbox mx-3" type="checkbox" checked></label>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /GENERATION PARAMETERS -->

                <!-- UPLOAD FACE PORTRAIT -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" />
                  <div class="collapse-title font-bold">
                    Upload Face Portrait
                  </div>
                  <div class="collapse-content">
                    <form id="uploadForm" enctype="multipart/form-data" class="my-10 lg:my-0">
                      <input type="file" id="imageInput" name="image" accept="image/*" class="block w-full">
                      
                      <div class="flex justify-center items-center w-full my-5 lg:my-3">
                        <canvas id="imageCanvas" class="w-full h-full object-contain">
                      </div>
                      
                      <div id="imageData" data-image-filename="{{ image_filename }}"></div>
                      <button type="button" id="upload_image_button" class="btn bg-primary btn-primary rounded-lg w-full mb-5 pt-8 pb-32 lg:pb-16 text-8xl lg:text-3xl">Upload Image</button>
                    </form>
                  </div>
                </div>
                <!-- / UPLOAD FACE PORTRAIT -->

                <!-- CLOTHES -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold">
                    Clothes
                  </div>
                  <div class="collapse-content"> 
                    <div class="my-10 mb-5 lg:mb-3 lg:my-0">
                      <input class="radio-lg lg:radio-md radio-primary" value="1" type="radio" name="gender" id="gender-input" checked/>
                      <label class="form-label mx-3" for="gender-input">Male</label>
                      <input class="radio-lg lg:radio-md radio-primary" value="0" type="radio" name="gender" id="gender-input" />
                      <label class="form-label mx-3" for="gender-input">Female</label>
                    </div>
                    <div class="my-10 lg:my-0 lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="clothes-description-input">Clothes Type</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="clothes-description-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="casual">Casual</option>
                          <option value="traditional">Traditional</option>
                          <option value="bohemian">Bohemian</option>
                          <option value="modern">Modern</option>
                          <option value="ethnic">Ethnic</option>
                          <option value="retro">Retro</option>
                          <option value="preppy">Preppy </option>
                          <option value="minimalist">Minimalist</option>
                          <option value="industrial">Industrial</option>
                          <option value="whimsical">Whimsical</option>
                          <option value="sporty">Sporty</option>
                          <option value="chic">Chic</option>
                          <option value="rustic">Rustic</option>
                          <option value="classic">Classic</option>
                          <option value="gothic">Gothic</option>
                          <option value="art deco">Art Deco</option>
                          <option value="urban">Urban</option>
                          <option value="vintage">Vintage</option>
                          <option value="bohemian-chic">Bohemian-Chic</option>
                          <option value="maxi">Maxi</option>
                          <option value="mini">Mini</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="pattern-input">Pattern</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="pattern-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="striped">Striped</option>
                          <option value="plaid">Plaid</option>
                          <option value="polka dots">Polka dots</option>
                          <option value="gingham">Gingham</option>
                          <option value="paisley">Paisley</option>
                          <option value="houndstooth">Houndstooth</option>
                          <option value="argyle">Argyle</option>
                          <option value="dots and stripes">Dots and Stripes</option>
                          <option value="floral">Floral</option>
                          <option value="squares">Squares</option>
                          <option value="tassels">Tassels</option>
                          <option value="tribal">Tribal</option>
                          <option value="woven">Woven</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="color-input">Color</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="color-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="red">Red</option>
                          <option value="blue">Blue</option>
                          <option value="green">Green</option>
                          <option value="yellow">Yellow</option>
                          <option value="black">Black</option>
                          <option value="white">White</option>
                          <option value="gray">Gray</option>
                          <option value="brown">Brown</option>
                          <option value="pink">Pink</option>
                          <option value="purple">Purple</option>
                          <option value="orange">Orange</option>
                          <option value="lime-green">Lime Green</option>
                          <option value="teal">Teal</option>
                          <option value="cyan">Cyan</option>
                          <option value="magenta">Magenta</option>
                          <option value="silver">Silver</option>
                          <option value="maroon">Maroon</option>
                          <option value="golden">Golden</option>
                          <option value="indigo">Indigo</option>
                          <option value="violet">Violet</option>
                          <option value="bronze">Bronze</option>
                          <option value="copper">Copper</option>
                          <option value="navy">Navy</option>
                          <option value="beige">Beige</option>
                          <option value="khaki">Khaki</option>
                          <option value="olive">Olive</option>
                          <option value="coral">Coral</option>
                          <option value="turquoise">Turquoise</option>
                          <option value="fuchsia">Fuchsia</option>
                          <option value="charcoal">Charcoal</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="material-input">Material</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="material-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="cotton">Cotton</option>
                          <option value="polyester">Polyester</option>
                          <option value="denim">Denim</option>
                          <option value="wool">Wool</option>
                          <option value="silk">Silk</option>
                          <option value="linen">Linen</option>
                          <option value="leather">Leather</option>
                          <option value="velvet">Velvet</option>
                          <option value="suede">Suede</option>
                          <option value="nylon">Nylon</option>
                          <option value="spandex">Spandex</option>
                          <option value="cashmere">Cashmere</option>
                          <option value="tartan">Tartan</option>
                          <option value="velour">Velour</option>
                          <option value="corduroy">Corduroy</option>
                          <option value="tweed">Tweed</option>
                          <option value="satin">Satin</option>
                          <option value="fleece">Fleece</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2">
                        <label class="form-label grid place-items-center" for="clothes-input">Clothes</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="clothes-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="">-- undefined --</option>
                          <option value="shirt">Shirt</option>
                          <option value="gown">Gown</option>
                          <option value="suit">Suit</option>
                          <option value="dress">Dress</option>
                          <option value="jacket">Jacket</option>
                          <option value="sari">Sari</option>
                          <option value="blouse">Blouse</option>
                          <option value="tuxedo">Tuxedo</option>
                          <option value="sundress">Sundress</option>
                          <option value="evening gown">Evening gown</option>
                          <option value="kimono">Kimono</option>
                          <option value="blazer">Blazer</option>
                          <option value="tank top">Tank top</option>
                          <option value="winter coat">Winter coat</option>
                          <option value="polo shirt">Polo shirt</option>
                          <option value="sweater">Sweater</option>
                          <option value="henley shirt">Henley shirt</option>
                          <option value="cardigan">Cardigan</option>
                          <option value="tunic">Tunic</option>
                          <option value="overalls">Overalls</option>
                          <option value="robe">Robe</option>
                          <option value="jumpsuit">Jumpsuit</option>
                          <option value="romper">Romper</option>
                          <option value="culottes">Culottes</option>
                          <option value="skirt suit">Skirt suit</option>
                          <option value="kaftan">Kaftan</option>
                          <option value="pea coat">Pea coat</option>
                          <option value="raincoat">Raincoat</option>
                          <option value="windbreaker">Windbreaker</option>
                          <option value="duster coat">Duster coat</option>
                          <option value="lab coat">Lab coat</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Clothes -->

                <!-- Setting -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold">
                    Setting
                  </div>
                  <div class="collapse-content"> 
                    <div class="my-10 lg:my-0 lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="background-input">Background</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="background-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="bustling cityscape">Bustling cityscape</option>
                          <option value="blooming garden">Blooming garden</option>
                          <option value="snowy mountain">Snowy mountain</option>
                          <option value="dense forest">Dense forest</option>
                          <option value="rustic village">Rustic village</option>
                          <option value="busy street">Busy street</option>
                          <option value="seaside pier">Seaside pier</option>
                          <option value="art studio">Art studio</option>
                          <option value="lavish ballroom">Lavish ballroom</option>
                          <option value="desert landscape">Desert landscape</option>
                          <option value="sunflower field">Sunflower field</option>
                          <option value="lakeside dock">Lakeside dock</option>
                          <option value="city rooftop">City rooftop</option>
                          <option value="japanese garden">Japanese garden</option>
                          <option value="modern office">Modern office</option>
                          <option value="tropical beach">Tropical beach</option>
                          <option value="lavender field">Lavender field</option>
                          <option value="bustling marketplace">Bustling marketplace</option>
                          <option value="snowy park">Snowy park</option>
                          <option value="quaint café">Quaint café</option>
                          <!-- Add more options here -->
                          <option value="tranquil lake">Tranquil lake</option>
                          <option value="serene meadow">Serene meadow</option>
                          <option value="ancient ruins">Ancient ruins</option>
                          <option value="quiet farm">Quiet farm</option>
                          <option value="starry night sky">Starry night sky</option>
                          <option value="enchanted forest">Enchanted forest</option>
                          <option value="desert oasis">Desert oasis</option>
                          <option value="abandoned asylum">Abandoned asylum</option>
                          <option value="industrial complex">Industrial complex</option>
                          <option value="enchanted castle">Enchanted castle</option>
                          <option value="serene monastery">Serene monastery</option>
                          <option value="volcanic landscape">Volcanic landscape</option>
                          <option value="enchanted woodland glade">Enchanted woodland glade</option>
                          <option value="futuristic cityscape">Futuristic cityscape</option>
                          <option value="haunted graveyard">Haunted graveyard</option>
                          <option value="enchanted underwater kingdom">Enchanted underwater kingdom</option>
                          <option value="enchanted fairground">Enchanted fairground</option>
                          <option value="serene mountainside lake">Serene mountainside lake</option>
                          <option value="enchanted grotto">Enchanted grotto</option>
                          <option value="futuristic laboratory">Futuristic laboratory</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="mood-input">Mood</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="mood-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="vibrant">Vibrant</option>
                          <option value="peaceful">Peaceful</option>
                          <option value="majestic">Majestic</option>
                          <option value="mystical">Mystical</option>
                          <option value="tranquil">Tranquil</option>
                          <option value="dynamic">Dynamic</option>
                          <option value="creative">Creative</option>
                          <option value="elegant">Elegant</option>
                          <option value="serene">Serene</option>
                          <option value="cheerful">Cheerful</option>
                          <option value="dramatic">Dramatic</option>
                          <option value="professional">Professional</option>
                          <option value="relaxed">Relaxed</option>
                          <option value="calming">Calming</option>
                          <option value="lively">Lively</option>
                          <option value="cozy">Cozy</option>
                          <option value="intense">Intense</option>
                          <option value="sombre">Sombre</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="time-input">Time</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="time-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="sunrise">Sunrise</option>
                          <option value="dawn">Dawn</option>
                          <option value="morning">Morning</option>
                          <option value="noon">Noon</option>
                          <option value="midday">Midday</option>
                          <option value="afternoon">Afternoon</option>
                          <option value="late-afternoon">Late Afternoon</option>
                          <option value="evening">Evening</option>
                          <option value="dusk">Dusk</option>
                          <option value="sunset">Sunset</option>
                          <option value="night">Night</option>
                          <option value="twilight">Twilight</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="season-input">Season</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="season-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="" selected>-- undefined --</option>
                          <option value="autumn">Autumn</option>
                          <option value="winter">Winter</option>
                          <option value="spring">Spring</option>
                          <option value="summer">Summer</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="light-input">Light</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="light-input" aria-label="Select">
                          <!-- Add the options here -->
                          <option value="">-- undefined --</option>
                          <option value="ambient light">Ambient Light</option>
                          <option value="soft light">Soft Light</option>
                          <option value="cool light">Cool Light</option>
                          <option value="dappled light">Dappled Light</option>
                          <option value="warm light">Warm Light</option>
                          <option value="bright light">Bright Light</option>
                          <option value="golden light">Golden Light</option>
                          <option value="natural light">Natural Light</option>
                          <option value="soft spotlight">Soft Spotlight</option>
                          <option value="diffuse light">Diffuse Light</option>
                          <option value="misty light">Misty Light</option>
                          <option value="neon light">Neon Light</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Setting -->

                <!-- Custom prompt -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold">
                    Custom prompt
                  </div>
                  <div class="collapse-content"> 
                    <div class="tooltip tooltip-primary tooltip-right" data-tip="This will replace all the settings you have already set apart from the uploaded image.">
                      <button class="btn btn-sm lg:btn-xs btn-circle btn-outline mb-1">?</button>
                    </div>
                    <p class="text-4xl lg:text-base my-3 lg:my-0">Ex: Closeup of a beautiful woman wearing a red gown in a blooming garden. peaceful, sunrise, summer, high quality, detailed, soft light.</p>
                    <p class="text-4xl lg:text-base my-3 lg:my-0">Ex: Closeup of a handsome man wearing a tuxedo at a lavish ballroom. elegant, night, winter, high quality, detailed, soft spotlight.</p>
                    <textarea name="custom-input" class="textarea textarea-primary w-full text-4xl lg:text-base" id="custom-input" rows="4" placeholder="Write your prompt here." aria-label="Textarea"></textarea>
                  </div>
                </div>
                <!-- /Custom prompt -->

                <!-- Save Workflow -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold">
                    Save Workflow
                  </div>
                  <div class="collapse-content">
                      <form id="save-form" method="POST" class="my-10 lg:my-0">
                          <input name="save-title" id="save-title" class="input input-bordered mx-auto w-full mb-5 py-12 lg:py-4 px-8 lg:px-4 text-4xl lg:text-xl" type="text" placeholder="Title" aria-label="title">
                          <input name="save-desc" id="save-desc" class="input input-bordered mx-auto w-full mb-5 py-12 lg:py-4 px-8 lg:px-4 text-4xl lg:text-xl" type="text" placeholder="Description" aria-label="discription">
                          <button id="save" class="btn bg-primary btn-primary rounded-lg w-full mb-5 pt-8 pb-32 lg:pb-16 text-8xl lg:text-3xl" type="button">Save</button>
                      </form>
                  </div>
                </div>
                <!-- /Save Workflow -->

                <!-- Load workflow -->
                <div class="collapse collapse-plus join-item border border-base-300 py-5 lg:py-0 px-5 lg:px-0">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold">
                    Load Workflow
                  </div>
                  <div class="collapse-content"> 
                  <select class="select select-primary mx-auto w-full h-auto mb-5 py-12 lg:py-4 px-8 lg:px-4 text-4xl lg:text-xl my-10 lg:my-0" id="load-select" name="load-select" aria-label="Select">
                      {% for workflow in workflow_display %}
                        <option value="{{workflow.workflow}}" id="{{workflow.id}}"> {{workflow.title ~ ' - ' ~ workflow.description}}</option>
                      {% endfor %}
                  </select>
                  <div class="mb-3"></div>
                  <button id="load-wf" class="btn bg-primary btn-primary rounded-lg w-full mb-5 pt-8 pb-32 lg:pb-16 text-8xl lg:text-3xl">Load</button>
                  <button id="delete-wf" class="btn bg-error btn-error rounded-lg w-full mb-5 pt-8 pb-32 lg:pb-16 text-8xl lg:text-3xl">Delete</button>                
                </div>
                <!-- /Load Workflow -->
              </div>
            </div>
          </div>
          <!-- /LEFT BAR -->
      
          <!-- CONTENT -->
          <div class="justify-center col-span-2 my-1 lg:my-0">
            <div id="content" class="text-center">
              <progress id="main-progress" class="flex progress" value="0" max="0"></progress>
              <div class="w-full my-1">
                  <form>
                    <button id="generate" class="btn bg-primary btn-primary rounded-lg w-full mb-5 pt-6 lg:pt-3 pb-32 lg:pb-16 text-8xl lg:text-5xl" type="button">
                      <span class="w-24 h-24 lg:w-12 lg:h-12 loading loading-spinner text-secondary" id="main-spinner" style="display: none;"></span>
                      <span id="generate-icon">
                        <svg class="w-24 h-24 lg:w-12 lg:h-12 text-white dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
                        </svg>                    
                      </span>
                      &nbsp;Generate
                    </button>
                </form>
              </div>
              <div id="results" class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-2 lg:w-auto lg:h-auto"></div>
              </div>
          </div>
        </div>
        <!-- /CONTENT -->
      </div>
</div>
<!-- EDIT9 HERE: -->
<!-- Update ip_adapter_headshot to your_new_workflow -->
<script src="{{url_for('ip_adapter_headshot.static',filename='js/app.js') }}"></script>
<script src="{{url_for('generation.serve_static',filename='js/helpers.js') }}"></script>
{% endblock %}
