{% extends "base.html" %}
{% block title %}Fantasy Character Creator{% endblock %}


{% block content %}
<div class="flex justify-center">
  <div id="toast-container"></div>
  <div class="relative rounded-xl overflow-auto p-8">
    <h1 class="mb-20 text-9xl font-bold lg:mb-10 lg:text-5xl">Fantasy Character Creator</h1>
      <div class="text-5xl lg:grid lg:grid-cols-3 lg:gap-4 lg:text-xl">    
          <!-- LEFT BAR -->
          <div class="grid grid-cols-1 gap-4">
              <div class="join join-vertical w-full">
                <div class="collapse collapse-arrow join-item border border-base-300">
                  <input type="radio" name="my-accordion-4" checked="checked" /> 
                  <div class="collapse-title font-bold mb-10 lg:mb-1">
                    Generation Parameters
                  </div>
                  <div class="collapse-content mb-10 lg:mb-1"> 
                    <div class="lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="mb-20 lg:mb-0">
                        <label class="form-label" for="quality-input">Quality</label>
                        <input class="range range-primary" id="quality-input" type="range" value="1" min="0.0" max="1.0" step="0.25" aria-label="Range">
                        <div class="form-label text-muted">
                          <div class="grid grid-cols-2">
                            <div class="text-left"><span>< Speed</span></div>
                            <div class="text-right"><span>Accuracy ></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-20 lg:mb-0">
                        <label class="form-label" for="batch-size-input">Results per generation</label>
                        <input class="range range-primary" id="batch-size-input" type="range" value="1" min="1" max="4" step="1" aria-label="Range" list="batch-size-values">
                        <div class="w-full flex justify-between px-2" id="batch-size-values">
                          <span value="0" label="1">1</span>
                          <span value="33" label="2">2</span>
                          <span value="66" label="3">3</span>
                          <span value="100" label="4">4</span>
                        </div>
                      </div>
                      <div class="">
                        <label class="form-label" for="style-input">Style &amp; Model</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="style-input" aria-label="Select">
                          <option value="ProteusV0.3-LCM">Illustration - Fast</option>
                          <option value="ProteusV0.3" selected>Illustration - Accurate</option>
                          <option value="ProteusV0.3-LCM-Anime">Anime - Fast</option>
                          <option value="ProteusV0.3-Anime">Anime - Accurate</option>
                          <option value="DreamShaperXLTurboV2-Cinematic">Cinematic</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse collapse-arrow join-item border border-base-300">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold mb-10 lg:mb-1">
                    Setting
                  </div>
                  <div class="collapse-content mb-10 lg:mb-1">
                    <div class="lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="setting-select">Setting</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="setting-input" aria-label="Select">
                          <option value="fantasy">Fantasy</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="background-input">Background</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="background-input" aria-label="Select">
                          <option value="" selected>-- undefined --</option>
                          <option value="inside a cave">Cave</option>
                          <option value="in the desert">Desert</option>
                          <option value="inside a dungeon">Dungeon</option>
                          <option value="flames in background">Flames</option>
                          <option value="forest in background">Forest</option>
                          <option value="on a glacier">Glacier</option>
                          <option value="magical aura in background">Magical aura</option>
                          <option value="mountains in background">Mountains</option>
                          <option value="flat plain background">Plain background</option>
                          <option value="in the study, scgenerates and potions">Study</option>
                          <option value="inside a temple">Temple</option>
                          <option value="on the streets of an old town">Town</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="mood-input">Mood</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="mood-input" aria-label="Select">
                          <option value="angry evil">Angry</option>
                          <option value="wise thoughtful serious mood">Somber</option>
                          <option value="" selected>Neutral</option>
                          <option value="cunning smirk mood">Cunning</option>
                          <option value="serene joyful dreamy">Serene</option>
                          <option value="happy jovial (smiling:0.85)">Happy</option>
                        </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="atmosphere-input">Color Hint</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="atmosphere-input" aria-label="Select">
                          <option value="">-- undefined --</option>
                          <option value="burgundy">Burgundy</option>
                          <option value="scarlet red">Scarlet</option>
                          <option value="pink">Pink</option>
                          <option value="beige">Beige</option>
                          <option value="brown">Brown</option>
                          <option value="orange">Orange</option>
                          <option value="yellow">Yellow</option>
                          <option value="green">Green</option>
                          <option value="emerald">Emerald</option>
                          <option value="aquamarine">Aquamarine</option>
                          <option value="cerulean">Cerulean</option>
                          <option value="blue">Blue</option>
                          <option value="purple">Purple</option>
                          <option value="magenta">Magenta</option>
                          <option value="white">White</option>
                          <option value="gray">Gray</option>
                          <option value="black">Black</option>
                          <option value="bronze">Bronze</option>
                          <option value="copper">Copper</option>
                          <option value="silver">Silver</option>
                          <option value="gold">Gold</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse collapse-arrow join-item border border-base-300">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold mb-10 lg:mb-1">
                    Character
                  </div>
                  <div class="collapse-content mb-10 lg:mb-1"> 
                    <div class="grid grid-cols-2 mb-20">
                      <div class="gap-4">
                        <label class="form-label" for="genders">Male</label>
                        <input class="radio radio-primary" value="1" type="radio" name="gender" id="male" checked/>
                        <label class="form-label" for="genders">Female</label>
                        <input class="radio radio-primary" value="0" type="radio" name="gender" id="female" />
                      </div>
                    </div>
                    <div class="lg:grid lg:grid-cols-2 lg:gap-4">
                      <div class="mb-20">
                        <label class="form-label" for="age-input">Age</label>
                        <input class="range range-primary" id="age-input" type="range" value="1" min="0" max="3" step="1" aria-label="Range">
                        <div class="form-label text-muted">
                          <div class="grid grid-cols-2">
                            <div class="text-left"><span>< Young</span></div>
                            <div class="text-right"><span>Old ></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-20">
                        <label class="form-label" for="body-structure-input">Body structure</label>
                        <input class="range range-primary" id="body-structure-input" type="range" value="1" min="0" max="3" step="1" aria-label="Range" list="batch-size-values">
                        <div class="grid grid-cols-2">
                          <div class="text-left"><span>< Slender</span></div>
                          <div class="text-right"><span>Large ></span></div>
                        </div>
                      </div>
                      <div class="grid grid-cols-2">
                        <label class="form-label grid place-items-center mb-20 lg:mb-0" for="race-input">Race</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="race-input" aria-label="Select">
                            <option value="dwarf">Dwarf</option>
                            <option value="elven">Elf</option>
                            <option value="gnome">Gnome</option>
                            <option value="half-elf">Half-Elf</option>
                            <option value="halfling">Halfling</option>
                            <option value="human" selected>Human</option>
                            <option value="tiefling">Tiefling</option>
                          </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="ethnicity-input">
                            Ethnic bias <button class="btn btn-xs btn-circle btn-outline tooltip tooltip-primary tooltip-left" data-tip="Adds a random ethnicity to the character based on the area selected. It's a light conditioning that helps making the generations more interesting; it doesn't guarantee an exact nationality.">?</button>
                        </label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="ethnicity-input" aria-label="Select">
                            <option value="">-- undefined --</option>
                            <option value="0">Completely Random</option>
            
                            <option value="1">Africa: Eastern</option>
                            <option value="2">Africa: Middle</option>
                            <option value="3">Africa: Northen</option>
                            <option value="4">Africa: Southern</option>
                            <option value="5">Africa: Western</option>
            
                            <option value="6">America: Central</option>
                            <option value="7">America: Northern</option>
                            <option value="8">America: Sourthern</option>
            
                            <option value="9">Asia: Central</option>
                            <option value="10">Asia: Eastern</option>
                            <option value="11">Asia: South-Eastern</option>
                            <option value="12">Asia: Southern</option>
                            <option value="13">Asia: Western</option>
            
                            <option value="14">Australia &amp; New Zealand</option>
            
                            <option value="15">European: Eastern</option>
                            <option value="16">European: Northern</option>
                            <option value="17">European: Southern</option>
                            <option value="18">European: Western</option>
                            <option value="19">European: Islandic</option>
            
                            <option value="20">Carribean</option>
                            <option value="21">Mela/Micro/Poly-nesia</option>
                          </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="class-input">Class</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="class-input" aria-label="Select">
                            <option value="cleric">Cleric</option>
                            <option value="fighter" selected>Fighter</option>
                            <option value="mage">Mage</option>
                            <option value="noble person">Noble person</option>
                            <option value="Paladin">Paladin</option>
                            <option value="peasant">Peasant</option>
                            <option value="ranger">Ranger</option>
                            <option value="shaman">Shaman</option>
                            <option vlaue="thief">Thief</option>
                          </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="gear-input">Clothing/Armor</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="gear-input" aria-label="Select">
                            <option value="">-- undefined --</option>
                            <option value="casual clothing">Casual clothing</option>
                            <option value="elegant garments">Elegant clothing</option>
                            <option value="furs clothing">Furs</option>
                            <option value="a leather armor">Light armor</option>
                            <option value="minimal simple clothing">Minimal</option>
                            <option value="an heavy armor">Heavy armor</option>
                            <option value="noble clothing">Noble clothing</option>
                            <option value="rags">Rags</option>
                            <option value="a robe">Robe</option>
                          </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="hairstyle-input">
                            Hairstyle <button class="btn btn-xs btn-circle btn-outline tooltip tooltip-primary tooltip-right" data-tip="Please note that some hairstyles work better (or at all) with a specific gender and/or ethnicity.">?</button>
                        </label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="hairstyle-input" aria-label="Select">
                            <option value="" selected>-- undefined --</option>
                            <option value="bald">Bald</option>
                            <option value="simple braid hairstyle">Braids</option>
                            <option value="buzz haircut">Buzz cut</option>
                            <option value="cornrows hairstyle">Cornrows</option>
                            <option value="long {{COLOR}}curly hair">Curly Long</option>
                            <option value="short {{COLOR}}curly hair">Curly Short</option>
                            <option value="dreadlocks hairstyle">Dreadlocks</option>
                            <option value="long {{COLOR}}hair">Long hair</option>
                            <option value="long {{COLOR}}disheveled hair">Long disheveled</option>
                            <option value="long {{COLOR}}straight hair">Long straight</option>
                            <option value="short mohawk hairstyle">Mohawk</option>
                            <option value="pixie haircut">Pixie cut</option>
                            <option value="ponytail hairstyle">Ponytail</option>
                            <option value="short {{COLOR}}hair">Short hair</option>
                            <option value="short {{COLOR}}disheveled hair">Short disheveled</option>
                            <option value="short {{COLOR}}straight hair">Short straight</option>
                          </select>
                      </div>
                      <div class="grid grid-cols-2 mb-20 lg:mb-0">
                        <label class="form-label grid place-items-center" for="haircolor-input">Hair color</label>
                        <select class="select select-primary text-4xl mx-5 lg:text-base lg:mx-0" id="haircolor-input" aria-label="Select">
                            <option value="">-- undefined --</option>
                            <option value="blond">Blond</option>
                            <option value="dark blond">Dark Blond</option>
                            <option value="medium brown">Medium Brown</option>
                            <option value="dark brown">Dark Brown</option>
                            <option value="reddish brown">Reddish Brown</option>
                            <option value="red">Red</option>
                            <option value="black">Black</option>
                            <option value="canescent">Graying</option>
                            <option value="gray">Gray</option>
                            <option value="white">White</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="collapse collapse-arrow join-item border border-base-300">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold mb-10 lg:mb-1">
                    Custom prompt
                  </div>
                  <div class="collapse-content mb-10 lg:mb-1"> 
                    <div class="tooltip tooltip-primary tooltip-right" data-tip="Keep it simple. Don't be too descriptive, write the element that you want to add. Eg: 'red scarf' or 'silver tiara'. You might need to add strength with the syntax '(silver tiara:1.2)'. If the element is generic and could be misinterpreted try to give context. Eg: instead of 'crown' try with 'wearing a silver crown on his head.">
                      <button class="btn btn-xs btn-circle btn-outline">?</button>
                    </div>
                    <div class="mb-3"></div>
                    <textarea name="custom-input" class="textarea textarea-primary w-full text-4xl lg:text-base" id="custom-input" rows="4" placeholder="Add a custom element." aria-label="Textarea"></textarea>
                  </div>
                </div>
                
                <div class="collapse collapse-arrow join-item border border-base-300">
                  <input type="radio" name="my-accordion-4" /> 
                  <div class="collapse-title font-bold mb-10 lg:mb-1">
                    Save Workflow
                  </div>
                  <div class="collapse-content mb-10 lg:mb-1">
                      <form id="save-form" method="POST">
                          <input name="save-title" id="save-title" class="input input-bordered w-full max-w-xs text-4xl mb-20 lg:mb-0 lg:text-base" type="text" placeholder="Title" aria-label="title">
                          <div class="mb-3"></div>
                          <input name="save-desc" id="save-desc" class="input input-bordered w-full max-w-xs text-4xl mb-20 lg:mb-0 lg:text-base" type="text" placeholder="Description" aria-label="discription">
                          <div class="mb-3"></div>
                          <button id="save" class="btn btn-lg px-24 py-12 text-4xl btn-primary" type="button">Save</button>
                      </form>
                  </div>
                </div>

                <div class="collapse collapse-arrow join-item border border-base-300">
                    <input type="radio" name="my-accordion-4" /> 
                    <div class="collapse-title font-bold mb-10 lg:mb-1">
                      Load Workflow
                    </div>
                    <div class="collapse-content mb-10 lg:mb-1"> 
                    <label class="form-label grid mb-20 lg:mb-0" for="load-wf">Workflows</label>
                    <select class="select select-primary text-4xl mb-20 lg:mb-0 lg:text-base lg:mx-0" id="load-select" name="load-select" aria-label="Select">
                        {% for workflow in workflow_display %}
                          <option value="{{workflow.workflow}}" id="{{workflow.id}}"> {{workflow.title ~ ' - ' ~ workflow.description}}</option>
                        {% endfor %}
                    </select>
                    <div class="mb-3"></div>
                    <button id="load-wf" class="btn btn-lg px-24 py-12 text-4xl btn-primary ">Load</button>
                    <button id="delete-wf" class="btn btn-lg px-24 py-12 text-4xl btn-secondary">Delete</button>
                  </div>
                </div>

              </div>
          </div>
          <!-- /LEFT BAR -->
      
          <!-- CONTENT -->
          <div class="border border-primary col-span-2 justify-center">
            <div id="content" class="text-center">
              <progress id="main-progress" class="progress" value="0" max="0"></progress>
  
              <div class="container container-expand flex items-center justify-center">
                  <form class="flex items-center">
                    <button id="generate" class="btn btn-primary text-center btn-lg px-24 py-12" type="button">
                      <span class="loading loading-spinner text-secondary" id="main-spinner" style="display: none;"></span>
                      <span id="generate-icon">
                        <svg class="w-6 h-6 text-white dark:text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.872 9.687 20 6.56 17.44 4 4 17.44 6.56 20 16.873 9.687Zm0 0-2.56-2.56M6 7v2m0 0v2m0-2H4m2 0h2m7 7v2m0 0v2m0-2h-2m2 0h2M8 4h.01v.01H8V4Zm2 2h.01v.01H10V6Zm2-2h.01v.01H12V4Zm8 8h.01v.01H20V12Zm-2 2h.01v.01H18V14Zm2 2h.01v.01H20V16Z"/>
                        </svg>                    
                      </span>
                      &nbsp;Generate
                    </button>
                  <input id="main-seed" class="input input-bordered w-full max-w-xs mx-[3px] text-4xl lg:text-base" type="text" placeholder="Seed" aria-label="Seed" value="0">
                  <label>Random <input id="is-random" class="checkbox" type="checkbox" checked></label>
                </form>
              </div>
  
              <div id="results" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-4"></div>
              </div>
          </div>
        </div>
        <!-- /CONTENT -->

        <!-- MODAL -->
        <dialog id="app-modal" class="modal">
          <div class="modal-box">
            <h2 class="font-bold text-lg">An error occurred</h2>
            <p id="modal-message"></p>
            <p class="text-center py-4">
              <button class="btn-primary">Close</button>
            </p>
          </div>
        </dialog>
        <!-- /MODAL -->
      </div>
</div>

    <script src="{{url_for('fantasy_character_creator.static',filename='js/app.js') }}"></script>
    <script src="{{url_for('generation.serve_static',filename='js/helpers.js') }}"></script>
{% endblock %}
