{% extends "base.html" %}

{% block title %}
    Apology
{% endblock %}

{% block content %}
<div class="flex justify-center">    
    <div class="text-center lg:hidden">
        <img alt="{{ top }}" class="border img-fluid w-[800px] h-auto" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
    </div>
    <div class="hidden lg:flex flex-col items-center">
        <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
    </div>
</div>
{% endblock %}