<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block meta %} {% endblock %}
        <div class="hidden bg-success"></div>
        <title>{% block title %}Default{% endblock %}</title>
        <!-- <link rel="shortcut icon" href="/static/images/favicon.ico" /> Update this! -->
        <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='css/toast.css')}}" rel="stylesheet">
    </head>
    <body>
        {% include "nav.html" %}
        <div class="flex flex-col h-screen">
            <div id="toast-container" class="fixed top-0 right-0 m-4 space-y-4 rounded drop-shadow-2xl"></div>
            <div class="flex-1 p-6">
                {% block content %} {% endblock %}
            </div>
            {% include "footer.html" %}
        </div>
        <script src="{{url_for('static',filename='js/toast.js') }}"></script>
        <script src="{{url_for('static',filename='js/utils.js') }}" ></script>
    </body>
</html>
