<div class="navbar bg-base-100 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost h-20 w-20 lg:hidden ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 transform scale-150" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="0" fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" /></svg>
      </div>
      <ul tabindex="0" class="menu text-8xl dropdown-content mt-3 z-50 p-2 shadow bg-base-100 rounded-box w-104 ">
        {% if session["_user_id"] %}
          <li><a class= "mb-5" href="{{ url_for('home.index') }}">Home</a></li>
          <li><a class= "mb-5" href="{{ url_for('output.index') }}">Output</a></li>
          <li><a class= "mb-5" href="{{ url_for('generation.index') }}">Workflows</a></li>
          <li><a class= "mb-5" href="{{ url_for('help.index') }}">Help</a></li>
          <li><a class= "mb-5" href="{{ url_for('profile.index') }}">Profile</a></li>
          <li><a class= "mb-5" href="/auth/logout">Log Out</a></li>
        {% else %}
          <li><a class= "mb-5" href="/auth/register">Register</a></li>
          <li><a class= "mb-5" href="/auth">Log In</a></li>
        {% endif %}
      </ul>
    </div>
    <a class="text-9xl font-serif">CIW</a>
  </div>
  <div class="navbar-end hidden lg:flex lg:justify-center lg:items-center">
    <div class="menu menu-horizontal text-4xl px-1">
      
      {% if session["_user_id"] %}
        <a href="{{ url_for('home.index') }}"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Home</button></a>
        <a href="{{ url_for('output.index') }}"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Output</button></a>
        <a href="{{ url_for('generation.index') }}"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Workflows</button></a>
        <a href="{{ url_for('help.index') }}"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Help</button></a>
        <a href="{{ url_for('profile.index') }}"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Profile</button></a>
        <a href="/auth/logout"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Log Out</button></a>
      {% else %}
        <a href="/auth/register"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Register</button></a>
        <a href="/auth"><button class="btn btn-lg bg-primary btn-primary mx-1 rounded-lg" type="button">Log In</button></a>
      {% endif %}
    </div>
  </div>
</div>

